body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow: hidden;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}




#login-container{
    height: 95%;
    max-height: 600px;                 
    /* Try this */

    width: 90%;
    max-width: 370px;
     /* Try this */

    background-color: rgb(198, 229, 248);
    border-radius: 14px;
    padding: 3%;
    box-shadow: 2px 2px 4px rgb(97, 195, 255) ;
    font-family: 'Lucida Sans';
    }
   
    form{
        height: 100%;
  
    }
.innerfild {

    height: 10%;
    width: 100%;
    margin-top:8%;

}
.login{
        margin:0;

}
 h2{

    text-align: center;
    color: rgb(41, 72, 62);
    font-family: monospace;
    font-size: 3vh;


}



input{

    border-radius: 4px;
    width: 100%;
    height: 70%;
    border: .5px solid rgb(50, 0, 0);
    font-size:20px;
    background-color: rgb(156, 250, 228);
    padding-left: 0px 10px;
    margin-top: 3px;

  
}
input::placeholder{
    color: rgb(36, 138, 99);
}
label{
    font-size: 24px;

}
.loginbtn{
 height: 10%;
}



button{
    height: 80%;
    width: 100%;
    font-size: 5vh;
    border-radius :5px;
    color: rgb(245, 167, 32);
    color: black;
    background-color: rgb(136, 227, 197);

}
.option{
    text-align: center;
    margin-top: 0px;
    width: 100%;
}

@media(orientation:landscape){
#login-container{
   max-height: 95%;
    max-width: 95%;
   
    }
    h2{
        font-size: 5vw;
    }

}